doctype html
html
  head
    meta(charset='utf-8')
    title Trello Clone
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/Materialize/dist/css/materialize.min.css')
    script(src='/vendor/moment/moment.js')
  header
    include ./partials/header.jade
  body
    block content
